/* Sidebar cố định */
.custom-sidebar {
  position: fixed;
  top: 68px;
  left: 0;
  width: 245px;
  height: calc(100vh - 20px);
  background-color: rgb(96, 8, 8);
  color: #fff;
  padding: 0px 15px 15px 15px;
  overflow-y: auto;
}

/* Các item trong sidebar */
.custom-sidebar-item {
  background-color: rgb(96, 8, 8); /* Màu nền các mục sidebar */
  color: #ffffff; /* Màu chữ trắng */
  padding: 10px;
  display: block; /* Đảm bảo các item hiển thị dạng block */
  text-decoration: none; /* Bỏ gạch chân mặc định của thẻ a */
}

/* Hiệu ứng hover cho các item trong sidebar */
.custom-sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Đổi màu nền khi hover */
  color: white; /* Màu chữ khi hover */
  cursor: pointer;
}

/* Để đảm bảo hr không bị ảnh hưởng */
hr {
  border-color: #ffffff; /* Màu viền sáng hơn */
}


