.custom-color{
    background-color: black;
}
.bg-fullscreen {
    background: url('./asset/motogpwallpaper.jpg') no-repeat center center; /* Thay thế với đường dẫn hình ảnh của bạn */
    background-size: cover; /* Để hình ảnh phủ toàn bộ phần tử */
    height: 100vh; /* Chiều cao toàn màn hình */
}