/* CSS for 2024 Calendar */
.calendar__header-container {
    background-color: #000000e8;
    background-image: radial-gradient(96.8% 493.26% at 100% 93.41%, rgba(201, 3, 0, 0.23) 0, rgba(148, 4, 1, 0) 100%);
    padding: 1.2rem 1.6rem 2.2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .15);
    border-radius: 0 0 15px 15px;
}

.calendar__title {
    color: #fff;
    font-size: 3.2rem;
    text-transform: capitalize;
    font-family: "Bangers", system-ui;
}

/* CSS for Month */
.monthrace {
    margin-left: 5%;
}

/* CSS for Calendar */
@media (max-width: 720px) {
    .container {
        height: 300px;
    }
}
@media (max-width: 1200px) {
    .container {
        height: 175px;
    }
}
@media (max-width: 767px) {
    .container {
        height: 220px;
    }
}
@media (max-width: 720px) {
    .row-striped {
        height: 300px;
    }
}
@media (max-width: 1200px) {
    .row-striped {
        height: 175px;
    }
}
@media (max-width: 768px) {
    .row-striped {
        height: 220px;
    }
}

/* CSS for bgr-rowstriped */
.row-striped:nth-of-type(odd) {
    background-color: #f6f6f6;
    border-left: 4px #690000 solid;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
    border-left: 4px #690000 solid;
}
.container{
    width: 100%;
    padding: 0;

}
.row-striped {
    padding: 15px 0;
    width: 100%;
}


/* CSS for time to celeb */
.col-2 {
    height: 125px;
}

.bgr-time {
    background-image: url(https://www.motogp.com/resources/v7.6.8/i/svg-files/elements/event-desktop-grid.svg);
    background-repeat: no-repeat;
}

.date-component {
    font-weight: bold;
}

.date-num {
    font-size: 3.5rem;
    color: gray;  
}

.month-component {
    display: block;
    font-size: 1.5rem;
    color: gray;
}
@media (max-width: 1400px) {
    .month-component {
        display: block;
        font-size: 1.2rem;
        color: gray;
    }
}
@media (max-width: 1400px) {
    .date-num {
        font-size: 3.0rem;
        color: gray;  
    }
}
@media (max-width: 1200px) {
    .date-num {
        font-size: 2.0rem;
        color: gray;  
    }
}
@media (max-width: 320px) {
    .date-num {
        font-size: 1.5rem;
        color: gray;  
    }
}
@media (max-width: 320px) {
    .month-component {
        display: block;
        font-size: .9rem;
        color: gray;
    }
}
/* CSS for location */
@media (max-width: 768px) {
   .text-uppercase {
       font-size: 1.2rem;
   }
}
@media (max-width: 320px) {
    .text-uppercase {
        font-size: 1.0rem;
    }
}
@media (max-width: 768px) {
    .location-track-name {
        font-size: 1.0rem;
    }
 }
@media (max-width: 320px) {
     .location-track-name {
         font-size: .8rem;
     }
 }
.location_flag {
    width: 2.7rem;
    height: 1.8rem;
    margin: 0;
    margin-right: 10px;
}
.imageundertrack{
    width: 412px;
    height: 125px;
}
@media (max-width: 1200px) {
    .imageundertrack{
        height: 100%;
    }
}
.calendar-listing_flag {
    border-radius: .4rem;
    border: .1rem solid #c5c5c5;
}
.object-fit-cover-picture {
    height: 100%;
}

/* CSS for track */

.calendar-listing__track-layout {
    
    background: linear-gradient(270deg, #181c21 10%, rgba(24, 28, 33, .8) 25%, rgba(24, 28, 33, 0) 70%);
}

.calendar-listing__layout {
    bottom: auto;
    left: auto;
    top: 50%;
    right: 0;
    transform: translate(28%, -50%);
    max-height: 20rem;
    filter: drop-shadow(0 .5rem .8rem rgba(0, 0, 0, .55));
    max-width: none;
    width: 17.7rem;
    height: 15.3rem;
}

/* CSS for sponcor */
.calendar-listing__sponcor {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 1.7rem;
    background: linear-gradient(90deg, #171c21, rgba(23, 28, 33, .8) 20%, rgba(23, 28, 33, 0) 40%);
    flex-flow: column nowrap;
    gap: .4rem;
}

.calendar-listing__sponsor-logo {
    display: flex;
    justify-content: flex-start;
    width: 2.7rem;
    height: 1.3rem;
}

/* (Có thể dùng đến)
.object-fit-cover-picture__img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
} */