.dark-mode-btns{
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
}
.dark-mode-btns:hover{
    background-color: #fff;
    color: black;
}
.custom-gap {
    margin-right: 10px;
}
nav {
    background: linear-gradient(to right, #000000, #ff0000a0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav-dropdown{
    color: white;
    font-weight: bold;
}