.primary-filter {
    display: flex;
    position: relative;
    background-color: #000;
    background-image: radial-gradient(96.8% 493.26% at 100% 93.41%, rgba(148, 4, 1, .23) 0, rgba(148, 4, 1, 0) 100%);
    border-top: .05rem solid rgba(51, 56, 62, .5);
    min-height: 5rem;
}

.primary-filter__filter-container:first-of-type {
    border-right: .05rem solid rgba(51, 56, 62, .5);
}

.primary-filter__filter-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    min-height: 5rem;
    padding: 0 1.6rem;
    position: relative;
}

.primary-filter__filter-label {
    font-family: var(--g-typography-copy-light);
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: -.02em;
    color: #9fa0a4;
    pointer-events: none;
    position: absolute;
    top: .8rem;
}

.primary-filter__filter-container select {
    color: #fff;
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 0;
    padding: .8rem 1.8rem 0 0;
    /* background-image: url(../i/svg-files/elements/filter-arrow-white.svg); */
    background-position: 100%;
    background-size: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 800;
}

select {
    padding: 0 5rem 0 2rem;
    line-height: 2.6;
    /* background-image: url(../i/elements/select-chevron-down.svg); */
    background-position: right 2rem center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
}

option {
    font-weight: normal;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
}