/* CSS cho FILTER */
.primary_filter {
  background-color: #000;
  background-image: radial-gradient(96.8% 493.26% at 100% 93.41%, rgba(148, 4, 1, .23) 0, rgba(148, 4, 1, 0) 100%);
  border-top: .05rem solid rgba(51, 56, 62, .5);
  min-height: 5rem;
}

.filter_container {
  gap: 1rem;
  flex: 1;
  min-height: 5rem;
  padding: 0 1.6rem;
}

/* sửa font family */
.filter_label {
  font-family: var(--g-typography-copy-light);
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #9fa0a4;
  top: .8rem;
}

.filter_select {
  padding: .8rem 1.8rem 0 0;
  background-position: 100%;
  background-size: auto;
  font-weight: 800;
}
/* .custom_select {
  padding: 0 5rem 0 2rem;
  line-height: 2.6;
  background-position: right 2rem center;
  background-repeat: no-repeat;
  background-size: 1.2rem;
} */


/* CSS for IMAGE */
.hero_container {
  min-height: 12rem;
}
.hero_image {
  opacity: 0.4;
} 
.hero_image_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 75%;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  min-height: 11.8rem;
}

/* sửa font family */
.hero_text {
  font-family: var(--g-typography-display);
  font-size: 2.4rem;
  line-height: 2.4rem;
  padding: 1.6rem;
}

.hero_details_container {
  gap: .8rem;
  padding: 0 1.6rem 2rem;
}

.hero_details_flag {
  width: 2.7rem;
  height: 1.8rem;
  border-radius: .4rem;
  border: none;
}

.hero_details_location {
  font-family: var(--g-typography-copy-light);
  font-size: 1.4rem;
  line-height: 1.4rem;
  opacity: .8;
}


/* CSS for TABLE */
.table {
  margin: 4.8rem 4.8rem 2.4rem;
}

.table__table {
  width: 100%;
  table-layout: fixed;
  background: #fff;
  animation: fade-in .5s ease;
  border-collapse: collapse;
  border-spacing: 0;
}

.table__header_cell__pos {
  width: 8rem;
}

.table__header_cell {
  font-weight: 800;
  text-align: left;
  height: 2.4rem;
  padding: 0 1rem 0 1.6rem;
  letter-spacing: .025rem;
  text-transform: capitalize;
}

.table__header_cell__points {
  color: #9fa0a4;
  width: 8rem;
}

.table__header_cell__rider {
  text-align: center;
  width: 40rem;
}

.table__header_cell__team {
  color: #9fa0a4;
}

.table__header_cell__time {
  text-align: right;
  width: 10rem;
}

.table__tbody {
  border-top: .1rem solid #ededed;
}

.table__body_row {
  height: 7rem;
  border-bottom: .1rem solid #ededed;
  border-left: 4px solid rgb(204, 0, 0);
}

.table__body_cell {
  color: #000000;
  padding: 0 1rem 0 1.6rem;
  position: relative;
}

.table__body_cell__pos {
  font-family: var(--g-typography-display);
  text-align: center;
  font-size: 3.2rem;
}

.results-table__body_cell__points {
  font-family: var(--g-typography-display-light);
  font-size: 3.2rem;
  color: #9fa0a4;
}

.table__body_cell__rider {
  padding: 0 1.6rem 0 0;
}

.rider_image_container {
  height: 7rem;
  overflow: hidden;
  width: 10rem;
  position: relative;
  margin-right: 5rem;
}

.table__rider_name_wrapper {
  width: 65%;
}

.table__rider_name {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  text-align: left;
}

.table__body_cell__full_name,
.table__body_cell__number {
  font-weight: 700;
  font-size: 2rem;
  display: block;
  min-width: 3.5rem;
  padding: 0 1rem 0 0;
}

.table__body_cell_flag {
  height: 1.8rem;
  border: .1rem solid #ededed;
  border-radius: .4rem;
}

.table__body_cell__team {
  font-size: 1.6rem;
  letter-spacing: .025rem;
  color: #9fa0a4;
  font-weight: 700;
}

.table__body_cell__time {
  text-align: right;
  font-weight: 700;
  font-size: 1.6rem;
}