.footer-sponsors__container {
    border-top: .1rem solid #ececec;
    border-bottom: .1rem solid #ececec;
    padding-top: 1.6rem;
}

.footer-sponsors__title {
    font-family: var(--g-typography-title);
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: -.01rem;
    color: #9fa0a4;
    text-align: center;
    margin-bottom: .8rem;
}

.footer-sponsors__sponsor {
    width: 33.3%;
    height: 10.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 40em) {
    .footer-sponsors__sponsor {
        width: 11.1%;
        height: 8.6rem;
    }
}

.banner {
    max-height: 15.5rem;
}

.sponcor-logo {
    display: flex;
    align-items: center;
    width: 2.5rem;
    height: 1rem;
    margin: .7rem;
}
@media (min-width: 40em) {
    .sponcor-logo {
        display: flex;
        align-items: center;
        width: 4rem;
        height: 2rem;
    }
}

