.mainDiv{
    display: flex;
    flex-wrap: wrap;
}
.nav-item:hover::after {
    content: '';
    display: block;
    width: 100%; /* Chiều rộng bằng với menu item */
    height: 2px; /* Độ dày của gạch chân */
    background-color: #ff0000; /* Màu gạch chân, có thể thay đổi */
    position: absolute;
    bottom: -5px; /* Khoảng cách từ text đến gạch chân */
    left: 0;
    cursor: text;
}
.card{
    margin-left: 5%;
    height: 400px;
    width: 350px;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05); /* Phóng to card lên 5% khi hover */
    z-index: 1; /* Đưa card lên trên các card khác */
}
.nav-item {
    position: relative; /* Để có thể sử dụng pseudo-element */
    cursor: pointer;
}
.carousel-item img {
    display: block; /* Đảm bảo ảnh là block */
    margin: 0 auto; /* Căn giữa */
    width: 600px; /* Kích thước chiều rộng */
    height: 400px; /* Kích thước chiều cao */
    object-fit: cover; /* Cắt ảnh nếu cần */
} 
.carousel-control-next {
    right: 400px; /* Width of the control */
}
.carousel-control-prev {
    left: 400px; /* Width of the control */
}
.box{
    margin-left: 2%;
}
.h2 {
    font-family: monospace;
    font-size: 2.4rem;
    gap: .4rem;
    text-transform: capitalize;
}
.slick-track{
    margin-top: 1%;
    margin-bottom: 1%;
}

@media screen and (max-width:500px) {
    .carousel-item img {
        margin: 0 auto;
        width: 400px;
        height: 200px;
        object-fit: cover;
      }
}
/*
@media screen and (max-width:503px) {
    .card{
        margin-left: 4.2rem;
    }
}
@media screen and (max-width:469px) {
    .card{
        margin-left: 3.2rem;
    }
}
@media screen and (max-width:437px) {
    .card{
        margin-left: 2.2rem;
    }
}
@media screen and (max-width:415px) {
    .card{
        margin-left: 1.2rem;
    }
}
@media screen and (max-width:390px) {
    .card{
        margin-left: 1.2rem;
        height: 420px;
        width: 330px;
    }
} */