/* CSS for 2024 rider */
.rider__header-container {
  background-color: #000000e8;
  background-image: radial-gradient(96.8% 493.26% at 100% 93.41%, rgba(201, 3, 0, 0.23) 0, rgba(148, 4, 1, 0) 100%);
  padding: 1.2rem 1.6rem 2.2rem;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .15);
  border-radius: 0 0 15px 15px;
}

.rider__title {
  color: #fff;
  font-size: 3.2rem;
  text-transform: capitalize;
  font-family: "Bangers", system-ui;
}

/* Rider grid layout */
.rider-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexible grid */
  gap: 30px; /* Gap between grid items */
  justify-content: center;
  padding: 20px;
}

.rider-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.rider-card:hover {
  transform: translateY(-10px);
}

.rider-card__image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.rider-card__info {
  padding: 15px;
  text-align: left; /* Align text to the left */
}

.rider-card__id {
  font-size: 0.85rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px; /* Add some bottom margin for spacing */
}

.rider-card__name {
  font-size: 1.5rem;
  margin: 5px 0; /* Simplify margins for better alignment */
  font-weight: bold;
  color: #333;
}

.rider-card__country {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center vertically */
}

.rider-card__flag {
  width: 35px; /* Set flag width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Space between flag and country text */
  border-radius: 20%; /* Make the flag image round */
}

.vertical-line {
  margin: 0 5px; /* Space around the vertical line */
  color: #000; /* Vertical line color */
  font-size: 20px; /* Vertical line size */
}

.rider-card__team {
  margin-left: 5px; /* Space added between vertical line and team name */
}
